<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>検索結果</h1>
    <form action="/admin/WorkRecord" method="GET">
        <button type="submit">労働データに戻る</button>
    </form>
    <% if (employeeID.length >0){ %>
    <h1><%= employeeName[0]%>さんのデータ</h1>
    <table border="1">
        <thead>
            <tr>
                <th>従業員氏名</th>
                <th>従業員ID</th>
                <th>出勤時刻</th>
                <th>退勤時刻</th>
                <th>勤務時間</th>
                <th>給料</th>
            </tr>
        </thead>
        <tbody>
            <% let totalWage = 0 %>
            <% for (let i = 0; i <= employeeID.length -1; i++) { %>
                <% totalWage += todayWage[i] %>
                <tr>
                    <td><%= employeeName[i]%></td>
                    <td><%= employeeID[i] %></td>
                    <td><%= formattedStartTime[i] %></td>
                    <td><%= formattedEndTime[i] %></td>
                    
                    <td><%
                        const startDateTime = new Date(`${startTime[i]}Z`);
                        const endDateTime = new Date(`${endTime[i]}Z`);
                        const diffTime = endDateTime - startDateTime;
                        const workTime = diffTime / 1000;
                        const hours = Math.floor(workTime / 3600);
                        const minutes = Math.floor((workTime % 3600) / 60);
                        const seconds = Math.floor(workTime % 60);
                        const result =`${hours}時間${minutes}分`;            
                        %>
                        <% if(result === 'NaN時間NaN分'){ %>
                        <%= "出勤中です" %>
                        <% } else { %>
                        <%= result %>
                        <% } %>
                    </td>
                    <td><%= todayWage[i] %>円</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <h1>支払総額<%= totalWage %>円</h1>
    <% } else { %>
        <h1>該当する期間のデータはありません</h1>
    <% } %>
</body>
</html>