<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>労働記録</h1>
    <form action="/admin/home" method="GET">
        <button type="submit">管理者ホームに戻る</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>従業員ID</th>
                <th>出勤時刻</th>
                <th>退勤時刻</th>
                <th>勤務時間</th>
                <th>給料</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i <= employeeID.length -1; i++) { %>
                <tr>
                    <td><%= employeeID[i] %></td>
                    <td><%= startTime[i] %></td>
                    <td><%= endTime[i] %></td>
                    
                    <td><%
                        const startDateTime = new Date(`${startTime[i]}Z`);
                        const endDateTime = new Date(`${endTime[i]}Z`);
                        console.log('startDateTime:', startDateTime);
                        console.log('endDateTime:', endDateTime);
                        const diffTime = endDateTime - startDateTime;
                        const workTime = diffTime / 1000;
                        const hours = Math.floor(workTime / 3600);
                        const minutes = Math.floor((workTime % 3600) / 60);
                        const seconds = Math.floor(workTime % 60);
                        const result =`${hours}時間${minutes}分${seconds}秒`;            
                        %>
                        <% if(result === 'NaN時間NaN分NaN秒'){ %>
                        <%= "出勤中です" %>
                        <% } else { %>
                        <%= result %>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>