<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>労働データ</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var messageElement = document.querySelector('div.alert-warning');
            if (messageElement && messageElement.innerText.trim() !== '') {
                setTimeout(function() {
                    messageElement.style.display = 'none';
                }, 5000);
            }
        });
    </script>
</head>
<body>
    <div class="p-3 mb-2 bg-primary text-white">
        <header aria-label="勤怠マン(仮称)現在管理者画面です。労働データ一覧の閲覧や条件検索、編集ができます。">
            <h1>勤怠マン(仮称)管理者専用</h1>
        </header>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <div>
            <form action="/admin/home" method="GET">
                <button class="btn btn-link" type="submit">管理者ホームに戻る</button>
            </form>
        </div>
        <div class="grid text-center">
            <div class="g-col-md-4">
                <div class="dropdown">
                    <form action="/admin/postPayrollReserch" method="POST">
                        <select class="form-control" name="employeeName">
                            <option value="">対象の従業員を選んでください</option>
                            <option value="恵比寿梨沙">恵比寿梨沙</option>
                            <option value="五反田一郎">五反田一郎</option>
                            <option value="大崎太郎">大崎太郎</option>
                            <option value="渋谷花子">渋谷花子</option>
                            <option value="品川大介">品川大介</option>
                            <option value="田町はな">田町はな</option>
                            <option value="目黒浩介">目黒浩介</option>
                            <option value="原宿加奈">原宿加奈</option>
                            <option value="佐々木海斗">佐々木海斗</option>
                            <option value="新宿恵美">新宿恵美</option>
                        </select>      
                        <input type="month" name="inputMonth" aria-label="左から順番に西暦、月を入力してください。月選択ツール選択も利用できます。">
                        <button class="btn btn-primary" type="submit" aria-label="検索ボタンです。入力した従業員氏名と年月を元に検索を実行します。">検索する</button>
                    </form>
                </div>                       
            </div>            
        </div>
        <div>
            <form action="/admin/workRecordEdit">
                <button class="btn btn-warning" type="submit" aria-label="労働データ編集ボタンです。クリックすると編集画面に遷移します。">労働データを編集する</button>
            </form>
        </div>
        <div class="alert-warning">
            <h1><%= message %></h1>
        </div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">従業員氏名</th>
                        <th scope="col">従業員ID</th>
                        <th scope="col">出勤時刻</th>
                        <th scope="col">退勤時刻</th>
                        <th scope="col">勤務時間</th>
                        <th scope="col">給料</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i <= employeeID.length -1; i++) { %>
                        <tr>
                            <th><%= employeeName[i]%></td>
                            <td><%= employeeID[i] %></td>
                            <td><%= formattedStartTime[i] %></td>
                            <td><%= formattedEndTime[i] %></td>
                            <td><%
                                const startDateTime = new Date(`${startTime[i]}Z`);
                                const endDateTime = new Date(`${endTime[i]}Z`);
                                const diffTime = endDateTime - startDateTime;
                                const workTime = diffTime / 1000;
                                const hours = Math.floor(workTime / 3600);
                                const minutes = Math.floor((workTime % 3600) / 60);
                                const seconds = Math.floor(workTime % 60);
                                const result =`${hours}時間${minutes}分`;            
                                %>
                                <% if(result === 'NaN時間NaN分'){ %>
                                <%= "出勤中です" %>
                                <% } else { %>
                                <%= result %>
                                <% } %>
                            </td>
                            <td><%= todayWage[i] %>円</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>