<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>労働データ編集</title>
</head>
<body>

    <div class="p-3 mb-2 bg-primary text-white">
        <header>
            <h1>勤怠マン(仮称)管理者専用</h1>
        </header>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <div>
            <form action="/admin/workRecord" method="GET">
                <button class="btn btn-link" type="submit">労働データに戻る</button>
            </form>
        </div>
        
        <div>
            <form action="/admin/workRecordEdit/post" method="POST">
                <button class="btn btn-warning" type="submit">編集を反映する</button>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">従業員氏名</th>
                            <th scope="col">従業員ID</th>
                            <th scope="col">出勤時刻</th>
                            <th scope="col">退勤時刻</th>
                            <th scope="col">勤務時間</th>
                            <th scope="col">給料</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < employeeID.length; i++) { %>
                            <tr>
                                <input type="hidden" name="_id" value="<%= _id[i]%>">
                                <td><input type="hidden" name="employeeName" value="<%= employeeName[i]%>"><%= employeeName[i]%></td>
                                <td><input type="hidden" name="employeeID" value="<%= employeeID[i] %>"><%= employeeID[i] %></td>
                                <td>
                                    <%
                                        const startTimeValue = formattedStartTime === '' ? startTime[i] : formattedStartTime[i];
                                    %>
                                    <input type="datetime-local" name="formattedStartTime" value=<%=startTime[i] || formattedStartTime  %>>
                                </td>
                                <td>
                                    <%
                                        const endTimeValue = formattedEndTime === '' ? endTime[i] : formattedEndTime[i];  
                                    %>
                                    <input type="datetime-local" name="formattedEndTime" value=<%= endTime[i] || formattedEndTime %>></td>
                                <td><%
                                    const startDateTime = new Date(`${startTime[i]}Z`);
                                    const endDateTime = new Date(`${endTime[i]}Z`);
                                    const diffTime = endDateTime - startDateTime;
                                    const workTime = diffTime / 1000;
                                    const hours = Math.floor(workTime / 3600);
                                    const minutes = Math.floor((workTime % 3600) / 60);
                                    const seconds = Math.floor(workTime % 60);
                                    const result =`${hours}時間${minutes}分`;            
                                    %>
                                    <% if(result === 'NaN時間NaN分'){ %>
                                        <%= "出勤中です" %>
                                    <% } else { %>
                                        <input type="hidden" name="workTime" value="<%= result %>"><%= result %>
                                    <% } %>
                                </td>
                                <td><input type="hidden" name="todayWage" value="<%= todayWage[i] %>"><%= todayWage[i] %>円</td>
                                <td>
                                    <div>
                                        <label for="<%=[i]%>">
                                        <input type="checkbox" id="<%=[i]%>" name="checked<%= i %>" class="btn btn-danger"/>削除する
                                        </label>
                                    </div>
                                    
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </form>
        </div>    
    </div>
</body>
</html>